.profile-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
}

.profile-card:hover {
    transform: scale(1.05);
}

.profile-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-right: 6px;
    height: 16px;
}
.user-icon{
    margin-right: 6px;
    height: 36px;
    width: 20px;
}
.profession {
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 5px;
}
.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12px;
}

.user-icon-container{
    background-color: lightblue;
    height: 85px;
    width: 85px;
    border-radius: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}